{#
/**
 * @file spending.html.twig
 * Default theme implementation to present Spending data.
 *
 * This template is used when viewing Spending pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_spending()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('spending') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
