.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-autodvig-site-autodvig-site:before,
.adminimal-admin-toolbar .toolbar-icon-autodvig-site-autodvig-site:before,
.adminimal-admin-toolbar .toolbar-icon-autodvig-site-autodvig-site:hover:before,
.adminimal-admin-toolbar .toolbar-icon-autodvig-site-autodvig-site:active:before,
.adminimal-admin-toolbar .toolbar-icon-autodvig-site-autodvig-site.is-active:before,
.menu-item--expanded .toolbar-icon-autodvig-site-autodvig-site:before {
  background-image: url(/modules/custom/autodvig_site/icons/drupal/settings.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-entity-vehicle-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-vehicle-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-vehicle-collection:hover:before,
.adminimal-admin-toolbar .toolbar-icon-entity-vehicle-collection:active:before,
.adminimal-admin-toolbar .toolbar-icon-entity-vehicle-collection.is-active:before,
.menu-item--expanded .toolbar-icon-entity-vehicle-collection:before {
  background-image: url(/modules/custom/autodvig_site/icons/drupal/car.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-entity-spending-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-spending-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-spending-collection:hover:before,
.adminimal-admin-toolbar .toolbar-icon-entity-spending-collection:active:before,
.adminimal-admin-toolbar .toolbar-icon-entity-spending-collection.is-active:before,
.menu-item--expanded .toolbar-icon-entity-spending-collection:before {
  background-image: url(/modules/custom/autodvig_site/icons/drupal/dollar.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-entity-client-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-client-collection:before,
.adminimal-admin-toolbar .toolbar-icon-entity-client-collection:hover:before,
.adminimal-admin-toolbar .toolbar-icon-entity-client-collection:active:before,
.adminimal-admin-toolbar .toolbar-icon-entity-client-collection.is-active:before,
.menu-item--expanded .toolbar-icon-entity-client-collection:before {
  background-image: url(/modules/custom/autodvig_site/icons/drupal/users.svg);
}

.text-center {
  text-align: center;
}
