header {
  padding: 35px;
  background-color: rgba(186, 186, 186, 0.5);

  .site-branding {
    img {
      max-width: 100px;
    }
  }

  .socials {
    a {
      text-decoration: none;
      margin-left: 10px;
    }
  }
}
